@using JBus.Web;

@helper OrderSign(string colName, string currentSort)
{
if (!currentSort.IsNullOrEmpty() && currentSort.StartsWith(colName))
{
    if (currentSort.EndsWith("_desc"))
    {
            <span class="caret"></span>
    }
    else
    {
            <span class="order dropup"><span class="caret"></span></span>
    }
}
}