/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/***
Fix Bug Metronic
***/
.fa-xlg {
  font-size: 1.5em !important;
}

.fa-2x {
  font-size: 2em !important;
}

.fa-3x {
  font-size: 3em !important;
}

.fa-4x {
  font-size: 4em !important;
}

.fa-5x {
  font-size: 5em !important;
}
.s-btn {
  color: #048abb;
  line-height: 1.2;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
}

body {
  background-color: #fafbfb;
}

.page-header {
  height: 80px;
}
  .page-header .page-header-top {
    height: 42px;
  }

    .page-header .page-header-top .page-logo {
      height: 42px;
    }

      .page-header .page-header-top .page-logo .logo-default {
        margin-top: 8px;
      }

    .page-header .page-header-top .top-menu {
      margin-top: 0;
    }

    .page-header .page-header-top .menu-toggler {
      margin-top: 5px;
    }
    .page-header .page-header-top .top-menu .navbar-nav > li.dropdown {
      height: 42px;
    }

    .page-header .page-header-top .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
      padding-top: 8px;
    }
.page-header .page-header-menu {
  height: 38px;
}
.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
}

@media (max-width: 767px) {
  .page-header .page-header-top .top-menu .navbar-nav > li.dropdown.dropdown-user > .dropdown-toggle {
    padding-top: 8px;
  }
}

@media (max-width: 991px) {
  .page-header {
    height: auto;
  }
    .page-header .page-header-top {
      height: auto;
    }
    .page-header .page-header-menu {
      height: auto;
      padding-top: 8px
    }
}

.page-head {
  border-bottom: 1px solid #e3eaf3;
  background-image: -webkit-linear-gradient(bottom, #f6f8fb 0, #f9fafb 100%);
  background-image: linear-gradient(to top, #f6f8fb 0, #f9fafb 100%);
  background-color: #f3f5f8;
}

.page-head .page-title {
  padding: 14px 0;
}

#page-alert {
  background: #fff;
  /*border-bottom: 1px solid #e3eaf3;*/
}

  #page-alert .alert:first-child {
    margin: 15px 0 0;
  }

.bg-white {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #ffffff),color-stop(100%, #fafbfb));
  background: -webkit-linear-gradient(#ffffff,#fafbfb);
  background: -webkit-linear-gradient(#ffffff, #fafbfb);
  background: linear-gradient(#ffffff,#fafbfb);
  background-size: 100% 200px;
  background-color: #fafbfb;
  background-repeat: no-repeat;
}

#page-toolbar {
  border-bottom: 1px solid #e3eaf3;
  /*padding: 0;*/
  /*margin-top: 10px;*/
}
.page-toolbar-actions {
  display: inline-block;
  margin: 15px 0;
}

#page-toolbar .nav-tabs {
  margin-bottom: -1px;
}
#page-toolbar .nav-tabs > li > a {
  border-color: #dadddf;
  border-right-width: 0 !important;
  color: #048abb;
  font-size: 13px;
  margin-right: 0;
  padding: 7px 16px;
}
#page-toolbar .nav-tabs > li > a:hover {
  border-color: #dadddf;
}
#page-toolbar .nav-tabs > li:last-of-type > a {
  border-radius: 0 3px 0;
  border-right-width: 1px !important;
}
#page-toolbar .nav > li > a:focus, 
#page-toolbar .nav > li > a:hover {
  background-color: #fafbfb;
  text-decoration: underline;
}

#page-toolbar .nav-tabs > li.active > a, 
#page-toolbar .nav-tabs > li.active > a:focus, 
#page-toolbar .nav-tabs > li.active > a:hover {
  background-color: #fff;
  border-bottom-color: transparent;
  color: #333;
  font-weight: bold;
  text-decoration: none !important;  
}

.page-content {
  padding-top: 10px;
}

.table-container {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  min-height: 70px;
  border-radius: 3px;
  opacity: 1;
}

.table-actionbar {
  /*margin-bottom: 5px;*/
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  color: #aaa;
}
.table-actionbar:before, 
.table-actionbar:after {
  content: " ";
  display: table;
}
.table-actionbar:after {
  clear: both;
}


/*.z-tabs.mini > ul > li > a {
  font-size: 13px;
  padding: 7px 16px;
}
.z-tabs > .z-container {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #ffffff),color-stop(100%, #fafbfb));
  background: -webkit-linear-gradient(#ffffff,#fafbfb);
  background: -webkit-linear-gradient(#ffffff, #fafbfb);
  background: linear-gradient(#ffffff,#fafbfb);
  background-size: 100% 200px;
  background-color: #fafbfb;
  background-repeat: no-repeat;
}
.z-tabs > .z-container > .z-content > .z-content-inner {
  padding: 18px 5px;
}*/




/*.page-header.navbar .page-logo {
  padding-left: 40px;
}

  .page-header.navbar .page-logo > a {
    width: 140px;
  }

  .page-header.navbar .page-logo .logo-default {
    width: 100%;
    margin: 0;
  }*/