@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/home/img/favicon.ico" />
    <link rel="apple-touch-icon" href="~/assets/home/img/apple-touch-icon.png">
    <link rel="stylesheet" href="~/Content/404.css">
</head>
<body>
    <div class="page-error">
        <h1><img src="~/assets/home/img/logo-muangthai.png" /></h1>
        <p class="head">ขออภัย ไม่พบหน้าที่คุณต้องการ</p>
        <p>อาจมีการลบหน้านี้ไปแล้ว คลิกด้านล่างเพื่อเข้าสู่เว็บไซต์</p>
        <a href="@Url.Action("Index", "Home")" class="btn">หน้าเเรกเว็บไซต์</a>
    </div>
</body>
</html>